{% extends "base.html" %}
{% load static %}
{% block content %}

<center>
    <div class="img-fluid">
        <img src="{% static 'img/name.png' %}" alt="" class="img-fluid" style=" margin-top: 80px;">
    </div>

</center>
<center>
    <div class="text-center" style="margin-top: 50px; color: navy;"><h2>ফর্ম জমা সম্পুর্ন হয়েছে</h2></div>
    <div class="text-center" style="margin-top: 50px; color: navy; margin-bottom: 100px;"><h2>খুব শিগ্রই আমাদের একজন এজেন্ট আপনার সাথে যোগাযোগ করবেন</h2></div>
</center>


{% endblock content %}