{% extends 'base.html' %}
{% load static %}
{% block content %}

<center>
    <div class="img-fluid">
        <img src="{% static 'img/name.png' %}" alt="" class="img-fluid" style=" margin-top: 80px;">
    </div>

</center>
<!-- Carousels section -->
<section style="margin-top: 70px;" id="hero" class="hero d-flex align-items-center">
    <div class="container-fluid p-0 m-0 hero-fluid">
        <div id="carouselExampleRide" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for item in carousels %} {% if forloop.first %}
                <button type="button" data-bs-target="#carouselExampleRide" data-bs-slide-to="{{ forloop.counter0 }}"
                    class="active" aria-current="true" aria-label="{{ item.title }}"></button>
                <span></span>
                {% else %}
                <button type="button" data-bs-target="#carouselExampleRide" data-bs-slide-to="{{ forloop.counter0 }}"
                    aria-label="{{ item.title }}"></button>
                <span></span>
                {% endif %} {% endfor %}
            </div>

            <div class="carousel-inner">

                {% for item in carousels %} {% if forloop.first %}
                <div class="carousel-item active" data-bs-interval="3000" style="background-color: {{ item.color }};">
                    <div class="container">
                        <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.title }}" />
                    </div>
                </div>
                {% else %}
                <div class="carousel-item" data-bs-interval="3000" style="background-color: {{ item.color }};">
                    <div class="container">
                        <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.title }}" />
                    </div>
                </div>
                {% endif %} {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section>
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-12">
                <ol class="list-group list-group-numbered">
                    {% for item in notices %}

                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold" style="color: navy;">{{ item.title }}</div>
                            <div><span class="badge bg-primary rounded-pill">{{ item.date }}</span></div>
                            {{ item.description|slice:"0:50"|safe }}
                        </div>
                        
                        <div><a href="{% url 'notices_detail' item.id %}" class="btn btn-primary stretched-link">Check</a></div>
                    </li>

                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'notices' %}" class="btn btn-primary btn-lg" role="button" style="width: 100%;">See all notices</a>
            </div>
        </div>
    </div>
</section>

<section id="courses" name="courses">
    <div class="container">
        <div class="head d-flex justify-content-center">
            <h1 class="head1" style="color: navy; font-weight: bolder; margin-top: 20px;">আমাদের কোর্সসমূহ</h1>
            <hr style="color: navy; width: 50%; ">
            <h1 class="head2" style="color: navy; font-weight: bolder; margin-top: 20px;">Our Courses</h1>
        </div>
        <center>
            <hr style="color: navy; width: 50%; ">
        </center>
    </div>
</section>

<!-- Courses section -->
<section>
    <div class="container-fluid">
        <div class="skill-cards-wrapper">
            <div class="row carditems">
                {% for item in course %}
                <div class="card"
                    style="width: 18rem; float: left; margin: 20px; padding: 0; background-image: url(../media/static/img/recourse/card-back.jpg); border-radius: 20px;">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.title }}">
                    <div class="card-body">
                        <h5 class="card-title" style="color: navy; font-size: 30px;">{{ item.title }}</h5>
                        <p class="card-text">{{ item.description_for_card|safe }}</p>
                        <a href="{% url 'enroll' item.id %}" class="btn btn-primary">Enroll Now</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Teachers panel -->
<section id="teachers_panel" name="teachers_panel">
    <div class="head d-flex justify-content-center">
        <h1 class="head1" style="color: navy; font-weight: bolder; margin-top: 20px;">আমাদের শিক্ষকগণ</h1>
        <hr style="color: navy; width: 50%; ">
        <h1 class="head2" style="color: navy; font-weight: bolder; margin-top: 20px;">Our Teachers</h1>
    </div>
    <center>
        <hr style="color: navy; width: 50%; ">
    </center>
    <div class="container-fluid">
        <div class="skill-cards-wrapper">
            <div class="row carditems">
                {% for item in teacher %}
                <div class="card"
                    style="width: 18rem; float: left; margin: 20px; padding: 0; background-image: url(../media/static/img/recourse/card-back.jpg); border-radius: 20px;">
                    <div class="card-header p-0">
                        <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                    </div>
                    <div class="card-body">
                        <center>
                            <h5 class="card-title" style="color: navy; font-size: 20px;">{{ item.name }}</h5>
                        </center>
                        <p class="card-text">{{ item.description|safe }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Gallery section -->
<section id="gallery" name="gallery">
    <div class="head d-flex justify-content-center">
        <h1 class="head1" style="color: navy; font-weight: bolder; margin-top: 20px;">আমাদের গ্যালারি</h1>
        <hr style="color: navy; width: 50%; ">
        <h1 class="head2" style="color: navy; font-weight: bolder; margin-top: 20px;">Our Gallery</h1>
    </div>
    <center>
        <hr style="color: navy; width: 50%; ">
    </center>
    <div class="container-fluid">
        <div class="skill-cards-wrapper">
            <div class="row carditems">
                {% for item in galleries %}
                <div class="card"
                    style="width: 18rem; float: left; margin: 20px; padding: 0; background-image: url(../media/static/img/recourse/card-back.jpg); border-radius: 20px;">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title" style="color: navy; font-size: 20px;">{{ item.name }}</h5>
                        </center>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
{% endblock %}